<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="face-snap-card" [ngClass]="{ snapped: snapClicked }">
      <h2>{{ facesnap.title | titlecase }}</h2>
      @if (facesnap.location) {
      <p>Localisation: {{ facesnap.location }}</p>
      }@else {
      <p>Localisation non spécifiée</p>
      }
      <p>
        Mis en ligne le
        {{ facesnap.createdAt | date : "à HH:mm, le d MMMM yyyy" }}
      </p>
      <p>{{ facesnap.description }}</p>
      <button (click)="onSnap()">{{ snapTitle }}</button>
      <span
        [ngStyle]="{ color: 'rgb(0,' + facesnap.snaps + ',0)' }"
        class="number-snap"
        >🤌 {{ facesnap.snaps }}</span
      >

      <img [src]="facesnap.imageUrl" [alt]="facesnap.title" />
    </div>
  </body>
</html>
