<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="face-snap-card">
      <h2>{{ faceSnap.title }}</h2>
      <p>Mis en ligne le {{ faceSnap.createdAt }}</p>
      <p>{{ faceSnap.description }}</p>
      <p>🤌 {{ faceSnap.snaps }}</p>
      <p>
        <button (click)="onSnap()">{{ snapTitle }}</button>
        🤌 {{ faceSnap.snaps }}
      </p>
      <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
    </div>
  </body>
</html>
